<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-title>
      Medicamentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div class="nav-buttons">
    <span class="nav-link" (click)="navigateTo('home')">
      <img src="assets/icon/izquierda.png" class="icon" alt="Atrás">
      Atrás
    </span>
    <span class="nav-link nav-right" (click)="navigateTo('home')">
      <img src="assets/icon/hogar.png" class="icon" alt="Inicio">
      Inicio
    </span>
  </div>

  <ion-header collapse="condense" class="header">
    <ion-toolbar>
      <ion-title size="large">Medicamentos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="card" (click)="navigateTo('registro-medicamentos')">
          <ion-card-header>
            <ion-card-title>Registro de Medicamentos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Registra tus medicamentos aquí</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card" (click)="navigateTo('consulta-medicamentos')">
          <ion-card-header>
            <ion-card-title>Consulta de Medicamentos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Consulta tus medicamentos aquí</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card" (click)="navigateTo('registro-tratamientos')">
          <ion-card-header>
            <ion-card-title>Nuevo tratamiento</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Registra tus tratamientos aquí</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card" (click)="navigateTo('consulta-tratamientos')">
          <ion-card-header>
            <ion-card-title>Consulta de Tratamientos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Consulta tus tratamientos aquí</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>







